.column {
  min-width: 23%;
  height: 800px;
  background-color: #c1c1c1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 10px 5px 10px;
  border-radius: 20px;
  margin-top: 10px;
  &__header {
    font-family: 'Oswald';
    font-size: 33px;
  }
  &__add-card-btn {
    margin: 15px 0 0 15px;
    width: 100%;
    cursor: pointer;
  }
}
